<h1>SIGN UP PAGE</h1>

<div>
	<form action = '/register' method = 'POST'>
		<input placehoder = 'username' type = 'String' name = 'username'>
		<input placehoder = 'password' type = 'password' name = 'password'>
		<button>Submit</button>
	</form>
</div>
<li><a href = '/register'>register</a></li>
<li><a href = '/login'>login</a></li>
<li><a href = '/logout'>logout</a></li>
