<h1> this is a secret page</h1>

<p>U found me</p>

<img src = "https://www.theinquirer.net/w-images/fc4173fb-2e39-4fe8-b2d0-b593d918ecfe/2/iStock817486028-580x358.jpg">

<li><a href = '/register'>register</a></li>
<li><a href = '/login'>login</a></li>
<li><a href = '/logout'>logout</a></li>
