<% include partials/header %>

<div class = 'container' style="width: 30%; margin:20px auto;">
	<h1><%= campground.name %></h1>
	<img src = "<%= campground.image %>" >

	<li><%= campground.description %></li>
	<% include partials/footer %>
</div>